.board {
  height: 80%;
  width: 50%;
  display: inline-block;
  margin: 4%;
}

#twitter {
  padding: 10px;
  text-align: center;
  background-color: #73113d;
  color: #ffffff;
  text-decoration: none;
  font-size: 125%;
  display: table;
  margin: auto;
}

.card{
  height: 200px;
  width: 150px;
  border-style: solid;
	border-width: 2px;
	border-color: #000000;
  background-image: url("back.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  float: left;
  margin:50px 38px 58px 38px;
  display:inline-block;
	overflow: auto;
}

header, footer, p {
	text-align: center;
}

h1, h2, h3 {
  color:#73113d;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  letter-spacing: 1px;
}

p {
  text-align: center;
}

nav {
  background-color: #2c5e17;
}

a {

}

a:hover {
        background-color: #d5b50a;
}

footer {
  background-color: #808080;
  clear: both;
}

.name {
        color: #ff0000;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}

.navlinks {
	padding: 35px;
	display: block;
	float: left;
  background-color: #73113d;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Berkshire Swash', cursive;
  font-size: 150%;
  letter-spacing: 2px;
}

img {
	height: 100%;
  width: 100%;
}
